extends _layout/_main
block variables
    - var title = 'Lab'
    - var navLink = 'lab'

block content
    include _layout/_header

    .container
        .row
            .col-12.col-md-4.mb-5
                a.d-block.mb-3.font-0.border.rounded-lg.overflow-hidden(href=path+"lab/sign-in/index.html")
                    img.img-responsive(src=path+'img/lab/sign-in/thumbnail.png')
                h5.mb-1
                    a.text-decoration-none(href=path+"lab/sign-in/index.html") Sign-in
                p.mb-0.text-muted Custom form layout and design for a simple sign-in form.

            .col-12.col-md-4.mb-5
                a.d-block.mb-3.font-0.border.rounded-lg.overflow-hidden(href=path+"lab/pricing/index.html")
                    img.img-responsive(src=path+'img/lab/pricing/thumbnail.png')
                h5.mb-1
                    a.text-decoration-none(href=path+"lab/pricing/index.html") Pricing
                p.mb-0.text-muted Simple pricing page built with Cards.

            .col-12.col-md-4.mb-5
                a.d-block.mb-3.font-0.border.rounded-lg.overflow-hidden(href=path+"lab/blog/index.html")
                    img.img-responsive(src=path+'img/lab/blog/thumbnail.png')
                h5.mb-1
                    a.text-decoration-none(href=path+"lab/blog/index.html") Blog
                p.mb-0.text-muted Simple blog page with header, navigation, featured content.

        include _layout/_footer
