extends ../_layout/_main
block variables
    - var title = 'Avatars'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #avatars
                    h2.mb-2.text-dark
                        | Avatars
                        a.anchor.ml-1.text-decoration-none(href="#avatars") #
                    p Avatars are user profile pictures.
                    .row.mb-3
                        .col-12
                            .avatar.mr-3(style=`background-image:url(${path}img/avatar/01.jpg)`)
                            .avatar.mr-3 AB
                            .avatar.mr-3(style=`background-image:url(${path}img/avatar/02.jpg)`)
                            .avatar CD
                    pre.code(data-lang="HTML")
                        code.docs-code
                            :highlight(lang="html")
                                <div class="avatar" style="background-image: url(...)"></div>
                                <div class="avatar">HA</div>
                                <div class="avatar" style="background-image: url(...)"></div>
                                <div class="avatar">AŠ</div>
                #sizes
                    h4.mt-4.mb-2
                        | Sizes
                        a.anchor.ml-1.text-decoration-none(href="#sizes") #
                    p   Add the  #[code avatar-xs], #[code avatar-sm], #[code avatar-md], #[code avatar-lg] or #[code avatar-xl] class for small, large or extra large avatar size.
                    
                    .row.mb-3
                        .col-12
                            .avatar.avatar-xl.mr-3(style=`background-image:url(${path}img/avatar/01.jpg)`)
                            .avatar.avatar-lg.mr-3(style=`background-image:url(${path}img/avatar/04.jpg)`)
                            .avatar.avatar-md.mr-3(style=`background-image:url(${path}img/avatar/03.jpg)`)
                            .avatar.avatar-sm.mr-3(style=`background-image:url(${path}img/avatar/02.jpg)`)
                            .avatar.avatar-xs.mr-3(style=`background-image:url(${path}img/avatar/01.jpg)`)

                    pre.code(data-lang="HTML")
                        code.docs-code
                            :highlight(lang="html")
                                <div class="avatar avatar-xl mr-3" style="background-image: url(...)"></div>
                                <div class="avatar avatar-lg mr-3" style="background-image: url(...)"></div>
                                <div class="avatar avatar-md mr-3" style="background-image: url(...)"></div>
                                <div class="avatar avatar-sm mr-3" style="background-image: url(...)"></div>
                                <div class="avatar avatar-xs mr-3" style="background-image: url(...)"></div>

                #colors
                    h4.mt-4.mb-2
                        | Colors
                        a.anchor.ml-1.text-decoration-none(href="#colors") #
                    p   Add the  #[code avatar-xs], #[code avatar-sm], #[code avatar-md], #[code avatar-lg] or #[code avatar-xl] class for small, large or extra large avatar size.
                    
                    .row.mb-3
                        .col-12
                            .avatar.bg-primary-soft.mr-3 HA
                            .avatar.bg-secondary-soft.mr-3 AŠ
                            .avatar.bg-success-soft.mr-3 TD
                            .avatar.bg-info-soft.mr-3 TD
                            .avatar.bg-warning-soft.mr-3 TD
                            .avatar.bg-error-soft.mr-3 TD

                    pre.code(data-lang="HTML")
                        code.docs-code
                            :highlight(lang="html")
                                <div class="avatar avatar-xl mr-3" style="background-image: url(...)"></div>
                
                #indicators
                    h4.mt-4.mb-2
                        | Indicators
                        a.anchor.ml-1.text-decoration-none(href="#indicators") #

                    .row.mb-3
                        .col-12.d-flex.align-items-center

                            .avatar.mr-3(style=`background-image:url(${path}img/avatar/01.jpg)`)
                                small.label.bg-success

                    pre.code(data-lang="HTML")
                        code.docs-code
                            :highlight(lang="html")
                                <div class="avatar avatar-status offline">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar avatar-status online">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar avatar-status busy">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar avatar-status away">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>
       
            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
