extends ../_layout/_main
block variables
    - var title = 'Avatars'
    - var navLink = 'docs'

block content
    include ../_layout/_header

    .container
        .row
            main.col-12.col-xl-10
                #avatars
                    h2.mb-2.text-dark
                        | Avatars
                        a.anchor.ml-1.text-decoration-none(href="#avatars") #
                    p Avatars are user profile pictures.
                    .row.mb-3
                        .col-12
                            .avatar.mr-3
                                img.avatar-img(src=path+"img/avatar/01.jpg" alt="")
                            .avatar(data-initial="HA")
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="avatar">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar" data-initial="HA"></div>
                #sizes
                    h4.mt-4.mb-2
                        | Sizes
                        a.anchor.ml-1.text-decoration-none(href="#sizes") #
                    p   Add the  #[code avatar-sm], #[code avatar-lg] or #[code avatar-xl] class for small, large or extra large avatar size.
                    .row.mb-3
                        .col-12.d-flex.align-items-center
                            .avatar.avatar-sm.mr-3
                                img.avatar-img(src=path+"img/avatar/01.jpg" alt="")
                            .avatar.avatar.mr-3
                                img.avatar-img(src=path+"img/avatar/02.jpg" alt="")
                            .avatar.avatar-lg.mr-3
                                img.avatar-img(src=path+"img/avatar/03.jpg" alt="")
                            .avatar.avatar-xl
                                img.avatar-img(src=path+"img/avatar/04.jpg" alt="")
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="avatar avatar-sm">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar avatar-lg">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar avatar-xl">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>
                #indicators
                    h4.mt-4.mb-2
                        | Indicators
                        a.anchor.ml-1.text-decoration-none(href="#indicators") #
                    .row.mb-3
                        .col-12.d-flex.align-items-center
                            .avatar.avatar-status.offline.mr-3
                                img.avatar-img(src=path+"img/avatar/01.jpg" alt="")
                            .avatar.avatar-status.online.mr-3
                                img.avatar-img(src=path+"img/avatar/02.jpg" alt="")
                            .avatar.avatar-status.busy.mr-3
                                img.avatar-img(src=path+"img/avatar/03.jpg" alt="")
                            .avatar.avatar-status.away
                                img.avatar-img(src=path+"img/avatar/04.jpg" alt="")
                    pre.code(data-lang='HTML')
                        code.docs-code
                            :highlight(lang="html")
                                <div class="avatar avatar-status offline">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar avatar-status online">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar avatar-status busy">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>

                                <div class="avatar avatar-status away">
                                    <img class="avatar-img" src="..." alt="...">
                                </div>
       
            aside.col-12.col-xl-2
                include ../_layout/_sidebar

        include ../_layout/_footer
