header(class=headerClass ? headerClass : 'mb-5')
    .bg-white.border-bottom.shadow-sm
        .container.d-flex.align-items-center.flex-column.flex-sm-row.py-3
            a.mr-sm-auto.font-xl.text-dark.text-decoration-none(href=path+'index.html') Coco
            nav.my-2.my-sm-0
                a.p-2.text-decoration-none(class=(navLink === 'home' ? 'text-primary' : 'text-muted') href=path+'index.html') Home
                a.p-2.text-decoration-none(class=(navLink === 'docs' ? 'text-primary' : 'text-muted') href=path+'docs.html') Docs
                a.p-2.text-decoration-none(class=(navLink === 'lab' ? 'text-primary' : 'text-muted') href=path+'lab.html') Lab
                a.p-2.text-decoration-none.text-muted(href='https://github.com/halibegic/coco-css')
                    i.fe.fe-md(data-feather='github')
