.mt-5.mt-xl-0.mb-5.sticky-top
    h6.mb-2.text-uppercase Elements
    ul.list-unstyled
        li
            a(href=path+'elements/typography.html') Typography
        li
            a(href=path+'elements/buttons.html') Buttons
        li
            a(href=path+'elements/forms.html') Forms
        li
            a(href=path+'elements/label.html') Label
        li
            a(href=path+'elements/code.html') Code
        li
            a(href=path+'elements/images.html') Images

    h6.mt-4.mb-2.text-uppercase Layout
    ul.list-unstyled
        li
            a(href=path+'layout/containers.html') Containers
        li
            a(href=path+'layout/grid.html') Grid
        li
            a(href=path+'layout/responsive.html') Responsive

    h6.mt-4.mb-2.text-uppercase Components
    ul.list-unstyled
        li
            a(href=path+'components/alerts.html') Alerts
        li
            a(href=path+'components/avatars.html') Avatars
        li
            a(href=path+'components/card.html') Card
        li
            a(href=path+'components/breadcrumb.html') Breadcrumb
        li
            a(href=path+'components/callouts.html') Callouts
        li
            a(href=path+'components/modal.html') Modal
        li
            a(href=path+'components/pager.html') Pager
        li
            a(href=path+'components/progress.html') Progress
        li
            a(href=path+'components/tabs.html') Tabs

    h6.mt-4.mb-2.text-uppercase Utilities
    ul.list-unstyled
        li
            a(href=path+'utilities/align.html') Align
        li
            a(href=path+'utilities/colors.html') Colors
        li
            a(href=path+'utilities/display.html') Display
        li
            a(href=path+'utilities/loading.html') Loading
        li
            a(href=path+'utilities/opacity.html') Opacity
        li
            a(href=path+'utilities/position.html') Position
        li
            a(href=path+'utilities/ratio.html') Ratio
        li
            a(href=path+'utilities/shapes.html') Shapes
        li
            a(href=path+'utilities/sizing.html') Sizing
        li
            a(href=path+'utilities/spacing.html') Spacing
        li
            a(href=path+'utilities/text.html') Text
